
.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
}
.mobile div {
  display: none;
}
.mobile button {
     position: absolute;
    float: left;
    top: 10px;
    left: 30px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(193,242,12,0.9) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-size: 80%;
    width: 40px;
    height: 51px;
    outline: none;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;

}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  
  border: 0;
}
.mobile a {
  display: block;
  background-color: #111;
  color: #fff;
}
a {
 
  text-align: center;
  padding: 3px 0;
  text-decoration: none;
  color: #fff;
  

  font-weight: bold;

}
a:hover,
a:active,
a:focus {
  
}
.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  width: 25%;
  float: left;
  box-sizing: border-box;
}
.desktop a:last-child {
  border-right: none;
}
article {
  padding: 0 30px 15px;
}
@media (max-width: 950px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
